@font-face {
    font-family: "daidrrjs";
    src: url("../fonts/Tokyo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "tokyo";
    src: url(../fonts/nuku-nuku.regular.ttf) format("truetype");
}

html {
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: #181722;
}

html::-webkit-scrollbar-thumb {
    background-color: #d5dddf;
    border-radius: 5rem;
}

/* NAVBAR */

.navbar {
    font-family: "tokyo", sans-serif;
    padding-top: 20px;
}

.navbar .navbar-nav .nav-link {
    color: #1b2727;
    font-size: 13px;
    font-family: "daidrrjs", sans-serif;
    padding-left: 7px;
    margin-right: 40px;
    margin-bottom: 1px;
}

.navbar .navbar-nav .nav-link.active {
    color: #6b8e4e;
}

/* HERO SECTION */

.home {
    position: relative; /* Membuat posisi relatif untuk konten overlay */
    background-image: url(../asset/images/wallpaper4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text1 {
    padding-top: 250px;
    font-size: 90px;
    font-family: "daidrrjs";
    color: #d5dddf;
    justify-content: center;
    padding-left: 10px;
}

.text2 {
    padding-left: 200px;
    padding-top: 330px;
    font-size: 70px;
    font-family: "tokyo";
    color: #d5dddf;
    justify-content: center;
    text-align: left;
}

.text3 {
    font-size: 30px;
    padding-left: 15px;
    font-family: "daidrrjs";
    color: #d5dddf;
}

.text4 {
    color: #d5dddf;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    display: inline-block;
}
.text5 {
    color: #d5dddf;
    text-align: justify;
    margin-left: 10px;
}

.text6 {
    color: #d5dddf;
    font-family: "tokyo";
}

.gallery {
    background-color: #050702;
}

@media (max-width: 767px) {
    .text1 {
        font-size: 50px;
    }
    .text2 {
        padding-left: 0px;
        font-size: 40px;
        color: #d5dddf;
        justify-content: center;
    }
    .text3 {
        font-size: 17px;
    }
    .text4 {
        font-size: 17px;
    }
    .text5 {
        font-size: 11px;
    }
}
